*{
    margin: 0%;
    padding: 0%;
    font-family: 'poppins';
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: radial-gradient(circle at 10% 20%, rgb(163, 175, 243) 0%, rgb(220, 182, 232) 100.2%);
}
header{
    background:linear-gradient(270deg,#c33764,#1d2671);
    border-bottom: black;
    position: sticky;
}
header h1{
    text-align: center;
    padding-top: 20px;
    color: whitesmoke; 

}
nav{
    background:linear-gradient(270deg,#c33764,#1d2671);
    padding: 0.5rem;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    color:white;
    
}
nav a{
    color: white;
    text-decoration: solid;
}

.contact{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.form{
    display: flex;
    flex-direction:column;
    align-items: start;
    gap: 20px;
}
.contacth2{
    font-weight: 600;
    color: rebeccapurple;
    font-size: 40px ;
}
.form-control{
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 25px;
    outline: none;
    color: #666;
}
textarea{
    /* height: 20%;
    padding-top: 5px; */
    border-radius: 20px;
}
.form-control:focus{
    border: 4px solid rgb(197, 19, 191) ;
}
.form-control::placeholder{
color: #666;
}
.contact button{
    color: white;
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    font-size: 16px;
    gap: 16px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#c33764,#1d2671);
    cursor: pointer;

}
footer{
    background:linear-gradient(270deg,#c33764,#1d2671);
    font-size: larger;
    padding: 10px; 
    text-align: center;
}
@media (max-width:800px) {

    .form-control{
        width: 80vw;
    }
    
}
.con{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header img{
    width: 20px;
}
.unorderlist{
    display: flex;
    align-items: center; 
    color: #000;
    /* flex-direction: column; */
    padding:  100px; 
    list-style-type: square;
}
.ul{
    
    display: grid;
    color: black;
    list-style: none;
    /* text-align: center; */
    padding: 50px;
    border: 2px, rgb(17, 17, 17);
    border-radius: 25px;
    background: white;
   

}


.unorderlist a{
    color: darkblue;
    font-size: larger;
    text-decoration: dotted;
    border-radius: 20px;
   

}

.ul a:active{
   color: white;
}
.image{
    /* display: flex;
    width: 500px;
    align-items: end;
    flex-direction: column;
    padding-right: 20px;
    padding-bottom: 20em; */
    padding: 40px;
    border: 3px black;
    border-radius: 50%;

    /* backdrop-filter: blur(30px);  
    filter: blur(1px);   */
    
    /* mix-blend-mode: overlay; */
}
.footer{
    margin-top: 150px;

}
@media (max-width: 600px) {
     /* .unorderlist{
        width:100%;
       
    } 
    .ul{
        width: 100%;
    }
    .image{
        display: none;
    }
    header {
      width: 100%; 
    } */
    *{
        margin: 0%;
        padding: 0%;
        font-family: 'poppins';
        box-sizing: border-box;
    }
     .unorderlist{
        width: 100vw;
        margin: 5%;
        padding: 10%; 
        margin-top: 50%;
    }
    
     .image{
        display: none;
     }
     footer{
        bottom: 0%;
     }
     
}
